body {
    background-color: #5a5a5a;
    width: 95%;
    margin: auto;
}

.container{
    margin: 50px auto;
}

.top {
    display: flex;
    flex-direction: row;
}

.bottom {
    display: flex;
    flex-direction: row;

}

#top-left {
    align-items: stretch;
    text-align: right;
    border-right:  1px solid teal;
}

h2 {
    color: teal;
    text-shadow: 1px 1px 2px #3d3d3d;
}

#top-right {
    align-items: stretch;   
    display: table-cell;
    text-align: left;
    vertical-align: bottom;
    border-bottom:  1px solid teal;
    color: #a9a9a9;
}

#bottom-left {
    text-align: right;
    border-right:  1px solid teal;
    color: #a9a9a9;
    

} 
.fa {
    color: black;
    padding: 5px;
}

a {
    color: black;
}

a:hover {
    color: #a9a9a9;
}

i:hover {
    color: #a9a9a9;
}

#bottom-right {
    text-align: left;
}

.card {
    background-color: #a9a9a9;
    border: 1px solid #2d2d2d;  
    border-radius: 8px; 
    padding:   8px;
    box-shadow: 1px 2px 3px 2px rgba(0,0,0,0.2);
}

 .card-img-top {    
    border-radius: 8px;
    width: 183px;
} 

.btn {
    font-size: 12px;
    text-transform: lowercase;
    letter-spacing: 1px;
}