body {
    width: 100%;
    color: #033F3F;    
    background: -webkit-linear-gradient(#EBF8F8 10%,#138486 90%); 
    background: linear-gradient(#EBF8F8 10%,#138486 90%); 
}

/* ----------------------------
              NAV
---------------------------- */

.navbar {
    padding: 15px 30px;
    background: linear-gradient(#ffffff, #EBF8F8); 
    font-family: 'Poppins', sans-serif;
}

.navbar-brand {
    font-size: 2em;
    color: #033F3F;     
}

.nav-link {
    color: #033F3F;  
    padding: 5px 8px; 
}

.nav-link:hover{
    color: #ffffff;  
    background-color: #F7B983; 
    text-decoration: none; 
    border-radius: 3px;
}

/*  to offset anchors bc of fixed navbar  */
section span { 
    margin-top: -88px;        
    padding-bottom: 88px; 
    display: block; 
    text-align: center;
}

/* ----------------------------
             ABOUT
---------------------------- */

.about {
    margin-top: 60px;
    padding: 40px 125px;
    text-align: justify;
    font-family: 'Raleway', sans-serif; 
    font-size: 20px;
}

.about-title {
    text-align: center;
    text-shadow: 2px 1px 2px #F3A565;     
    font-family: 'Crushed', sans-serif;
    font-size: 3em;
}

.resume {
    text-align: center;
}

/* ----------------------------
           PORTFOLIO
---------------------------- */

.carousel {
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 3px #5E5E5E;
}

/* ----------------------------
            PROJECT
---------------------------- */

.project {    
    padding: 40px 125px;
}

.project-title{
    color: #033F3F;      
    text-shadow: 1px 1px 2px #ffffff;     
}

.project-title:hover {
    color: #ffffff;
    text-shadow: 1px 1px 2px #033F3F;     
}    

.content {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;  
}

/* ----------------------------
              TECH
---------------------------- */

.tech {
    margin: 40px auto;
    text-align: center;
}

.devicon {
    padding: 16px 20px;
    color: white;
    font-size: 4em; 
    margin-bottom: 10px;   
}

/* ----------------------------
             CONTACT
---------------------------- */

.contact {
    color: #EEEEEE;
    padding: 40px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-size: 20px; 
}

.contact-title {
    text-shadow: 2px 2px 2px #F19F5C; 
    font-family: 'Crushed', sans-serif;
    font-size: 3em;
    padding-bottom: 10px;
}

.fa {
    padding: 8px;
} 

a {
    color: white;
}

a:hover {
    color: #033F3F;
    text-decoration: none;    
}

/* ----------------------------
            FOOT
---------------------------- */

.footer {
    color: #033F3F;
    text-align: center; 
    padding: 30px;
    background-color: #138486;
}

/* ----------------------------
           MEDIA
---------------------------- */

@media (min-width: 576px) and (max-width: 767px) {
    .about {
        padding: 40px 70px !important; 
    }
    .project {
        padding: 40px 70px !important;
    }
    .tech {
        padding: 40px 70px !important;
    }
    .devicon {
        padding: 16px 4px !important;
    }
}

@media (max-width: 575px) {
    .about {
        padding: 40px 40px !important;
        text-align: left;      
    }
    .project{
        padding: 40px 40px !important;
    }
    .tech {
        padding: 0 60px !important;
    }  
    .devicon {
        padding: 16px 4px !important;
    }
    .contact-links {
        font-size: 16px;     
    }
}